<a href="https://colab.research.google.com/github/wellalb/Sensoriamento-Remoto-e-Geoprocessamento/blob/main/Indice_nino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#Importando as bibliotecas necessárias
import pandas as pd
import numpy as np;
import seaborn as sns; sns.set();
import matplotlib.pyplot as plt;
import plotly.express as px;
import requests, bs4
url = 'https://psl.noaa.gov/data/correlation/'
headers = {"User-Agent":"Mozilla/5.0"}
response = requests.get(url, headers=headers)
soup = bs4.BeautifulSoup(response.text, 'html.parser')

'''
# Imprimir tudo
print(soup.text)
'''


#Ninõ 3.4
nino34= pd.read_csv(url+'nina34.anom.data',
                    skiprows=3, skipfooter=3, header=None,
                    sep='\s+', index_col=0,engine='python',
                    names=['Ano', 'Jan','Fev','Mar','Abr','Mai', 'Jun', 'Jul','Ago','Set','Out', 'Nov', 'Dez'])
nino34

,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
Ano,,,,,,,,,,,,
1950,-1.99,-1.69,-1.42,-1.54,-1.75,-1.27,-1.01,-0.97,-0.98,-1.03,-1.23,-1.31
1951,-1.30,-1.04,-0.38,-0.23,-0.01,0.00,0.30,0.17,0.51,0.49,0.55,0.31
1952,0.13,-0.01,-0.11,-0.02,-0.14,-0.54,-0.76,-0.56,-0.36,-0.46,-0.78,-0.39
1953,0.20,0.24,0.29,0.22,0.35,0.39,0.14,0.09,0.29,0.16,0.18,0.41
1954,0.43,0.28,-0.38,-1.17,-0.81,-0.93,-1.18,-1.43,-1.60,-1.48,-1.13,-1.33
...,...,...,...,...,...,...,...,...,...,...,...,...
2018,-0.98,-0.78,-0.80,-0.51,-0.20,0.04,0.12,0.09,0.47,0.90,0.90,0.89
2019,0.65,0.71,0.81,0.62,0.55,0.45,0.35,0.04,0.03,0.48,0.52,0.52
2020,0.60,0.37,0.48,0.36,-0.27,-0.34,-0.30,-0.59,-0.83,-1.26,-1.42,-1.15
2021,-1.00,-1.00,-0.80,-0.72,-0.46,-0.28,-0.39,-0.53,-0.55,-0.94,-0.94,-1.06
2022,-0.95,-0.90,-0.98,-1.12,-1.12,-0.76,-0.70,-0.96,-99.99,-99.99,-99.99,-99.99